<!DOCTYPE html>
<meta charset="utf-8">

<style>
    /* CSS */
    h1 {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: lighter;
        color: gray;
        font-size: 45px;
    }

    

  

  
</style>

<body style="background-color:rgb(250, 248, 239)">
    <div id="title-div">
        <h1> All main thresholded graphs (Supplement) </h1>
    </div>

    <div id="svg-div">
        <svg width="600" height="600" id="sc-svg"></svg>
    </div>

    <div id="dropdown"></div>

    <input type="range" min="0" max="16" step="1" value="1">


    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>



    <script>


        // Inspired by https://bl.ocks.org/gordlea/27370d1eea8464b04538e6d8ced39e89
        // and https://www.d3-graph-gallery.com/graph/line_change_data.html
        // and https://bl.ocks.org/jadiehm/0d341b74bef30889c893a3b14cbeb974

        svg = d3.select("svg")

        var width = +svg.attr("width"),
            height = +svg.attr("height");

        console.log("hello")




        d3.json("foo4.json", function(error, dict) {

            if (error) throw error;

            console.log(dict)
            

            const models = Object.keys(dict)
            console.log(models)
            console.log("hello")

            let model = "cosineGeometric"
            console.log(dict[model])


            // Pick one threshold and draw on the svg
            let threshold_vals = Object.keys(dict[model])
            let n_threshold_vals = threshold_vals.length
            console.log(n_threshold_vals)
            

            // Set x and y scales
            let x_scale = d3.scaleLinear()
                .domain([0, 1])
                .range([100, 500]);

            
            let y_scale = d3.scaleLinear().range([500,100]);
            let yAxis = d3.axisLeft().scale(y_scale);
            svg.append("g")
                .attr("class","myYaxis")
                .attr("transform", `translate(100,0)`);

            
            // Draw line graph
            let line = d3.line()
                .x(function(d, i) {return x_scale(i); }) // set the x values for the line generator
                .y(function(d) {return y_scale(d); }) // set the y values for the line generator 
                .curve(d3.curveMonotoneX) // apply smoothing to the line

               

            // Draw axes
            svg.append("g")
                .attr("class", "xaxis")
                .attr("transform", `translate(0,${height-100})`)
                .call(d3.axisBottom(x_scale));

            


            // Draw data
            const betti_colors = ["blue", "green", "red", "pink"];
            const nEdges = 2415;

            const update_threshold_plot = (data, threshold_edge) => {



                let max_y = d3.max([d3.max(data.dim1), d3.max(data.dim2), d3.max(data.dim3), d3.max(data.dim4)]);
                console.log(max_y)
                const buffer = max_y*(0.4)

                
                y_scale.domain([0, max_y+buffer]);
                svg.selectAll(".myYaxis")
                    .transition()
                    .duration(1000)
                    .call(yAxis);


                let area = function(dimn) {
                    
                    return d3.area()
                    .x(function(d, i) {return x_scale(i/nEdges); }) 
                    .y0(function(d,i) {
                         return ((data[`dim${dimn}`][i] - d > 0) ? y_scale(data[`dim${dimn}`][i] - d) : y_scale(0)); })
                    .y1(function(d,i) { return y_scale(data[`dim${dimn}`][i] + d); }); 
                };

              

                let lines = {line1: svg.selectAll(".dim1").data([data.dim1]),
                     line2: svg.selectAll(".dim2").data([data.dim2]),
                     line3: svg.selectAll(".dim3").data([data.dim3]),
                     line4: svg.selectAll(".dim4").data([data.dim4])};

                let std_areas = {std1: svg.selectAll(".std1").data([data.std1]),
                     std2: svg.selectAll(".std2").data([data.std2]),
                     std3: svg.selectAll(".std3").data([data.std3]),
                     std4: svg.selectAll(".std4").data([data.std4])};


                for (let index = 0; index < 4; index++) {


                    lines[`line${index+1}`].enter()
                        .append("path")
                            .attr("class","dims")
                            .attr("class",`dim${index+1}`)
                            .merge(d3.selectAll(`.dim${index+1}`))
                            .transition()
                            .duration(1000)
                            .attr("d", d3.line()
                                .x(function(d, i) {return x_scale(i/nEdges); })
                                .y(function(d) {return y_scale(d); }))
                            .attr("stroke", betti_colors[index])
                            .attr("fill", "none")
                            .attr("stroke-width", 3);


                    
                    std_areas[`std${index+1}`].enter()
                        .append("path")
                        .attr("class","stds")
                        .attr("class",`std${index+1}`)
                        .merge(d3.selectAll(`.std${index+1}`))
                        .transition()
                        .duration(1000)
                        .attr("d",area(index+1))
                        .attr("opacity", 0.2)
                        .attr("fill", betti_colors[index])
                }


                let threshold_line = svg.selectAll(".threshline").data([threshold_edge]);
                threshold_line.enter()
                    .append("path")
                    .attr("class", "threshline")
                    .merge(threshold_line)
                    .transition()
                    .duration(1000)
                    .attr("d", function(d) {console.log(d); return `M ${x_scale(d/nEdges)} ${y_scale(0)} L ${x_scale(d/nEdges)} ${y_scale(max_y+buffer)}`})
                    .attr("stroke", "black")
                    .attr("stroke-width", 1)

               
            };

            let edge_num = 242
            
            update_threshold_plot(dict[model][edge_num], edge_num);


            let changed = function() {
                let value = this.value;
                console.log(value);
                console.log(model)
                edge_num = Number(threshold_vals[value]);
                update_threshold_plot(dict[model][edge_num], edge_num);

            };


            const dropdownChange = function() {
                model = this.value;
                console.log(model)
                console.log(edge_num)

                update_threshold_plot(dict[model][edge_num], edge_num);
                
            };





            d3.select("input")
                .on("input", changed)
                .on("change", changed);


            
            var dropdown = d3.select("#dropdown")
                .insert("select", "svg")
                .on("change", dropdownChange);

            dropdown.selectAll("option")
                .data(models)
                .enter().append("option")
                .attr("value", function (d) { return d; })
                .text(function (d) {
                    return d[0].toUpperCase() + d.slice(1,d.length); // capitalize 1st letter
                });




        })

       


    </script>


</body>